In [2]:
# Q1:
# Load initial data

import pandas as pd

data = pd.read_csv('/home/jason/Documents/GitHub/data4life/data4life/data.txt',skipinitialspace=True)
data

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
1        D1         P1    08042018 10:00:00
2        D1         P2    08032018 10:00:00
3        D1         P1    08042018 11:00:00
4        D2         P1    18032018 08:00:00
5        D2         P1    18042018 09:00:00
6        D2         P3    18032018 09:00:00
7        D2         P3    18042018 10:00:00

In [3]:
data = data.astype('string')
data.dtypes

doctor_id               string
patient_id              string
appointment_datetime    string
dtype: object

In [ ]:
data['concat docdate']= data['doctor_id']+data['appointment_datetime']
data['concat patientdate']= data['patient_id']+data['appointment_datetime']
data[['date','time']] = data['appointment_datetime'].str.split(' ',1,expand=True)

data

In [140]:
data.dtypes

doctor_id               string
patient_id              string
appointment_datetime    string
concat docdate          string
concat patientdate      string
date                    string
time                    string
dtype: object

In [164]:
# Getting inputs from the user when required
def doc_id_input():
    doctor = str(input('Please enter doctor id: '))
    return doctor
def date_input():
    date = str(input('Please enter the date you want to check in DDMMYYYY format: '))
    return date
def patient_id_input():
    patient = str(input('Please enter your patient id: '))
    return patient
def time_input():
    time = str(input("Please enter your preferred time in HH:MM:SS: "))
    return time

In [165]:
# Q2:

# Get all appointments for the given doctor & date

def check_doc_appt (doctor,date,data):
    example = data[(data["doctor_id"]== doctor) & (data["date"]==date)]
    return "No appointment for this doctor on this date" if example.empty else example

In [74]:
check_doc_appt(doc_id_input(),date_input(),data)
#check_doc_appt('D1','08032018',data)

'No appointment for this doctor on this date'

In [166]:
# Q2B

# Get all appointment for given patient & date

def check_patient_appt (patient,date,data):
    example = data[(data["patient_id"]== patient) & (data["date"]==date)]
    return "You have no appointment on this date" if example.empty else example

def check_all_patient_appt (patient,data):
    example = data[(data["patient_id"]== patient)]
    return "You have no appointment on this date" if example.empty else example

In [78]:
check_patient_appt(patient_id_input(),date_input(),data)
check_all_patient_appt(patient_id_input(),data)

'You have no appointment on this date'

In [101]:
x = 'D1'+'11042022'+' '+'10:00:00'
data = data.astype('string')
# 'D1'+'11042022'+' '+'10:00:00' in data['concat']
x in data['concat'].values

True

In [167]:
data

('You have no such appointment', 'You have no appointment on this date')

In [148]:
#data = data.drop()
doctor = 'D1'
patient = 'P1'
date = '11042022'
time = '10:00:00'

data[(data['doctor_id']==doctor) & (data["patient_id"]== patient) & (data["date"]==date) & (data["time"]==time)]

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
8,D1,P1,11042022 10:00:00,D111042022 10:00:00,P111042022 10:00:00,11042022,10:00:00

In [109]:
data = data.drop(data[(data['doctor_id']==doctor) & (data["patient_id"]== patient) & (data["date"]==date) & (data["time"]==time)].index)

In [161]:
# Q3:

# Patient makes an appointment by selecting doctor and date and time

def make_appt(doctor,patient,date,time,data):  
    if doctor+date+' '+time in data['concat docdate'].values:
        return 'Doctor is not available at this specific date and time',check_doc_appt(doctor,date,data)
    elif patient+date+' '+time in data['concat patientdate'].values:
        return 'You already have another appointment at this specific date and time',check_patient_appt(patient,date,data)
    else:
        data.loc[data.shape[0]] = [doctor,patient,date+' '+time,doctor+date+' '+time,patient+date+' '+time,date,time,]
        return check_patient_appt(patient,date,data)

In [211]:
make_appt('D1','P1','11042022','10:00:00',data)
#make_appt(doc_id_input(),patient_id_input(),date_input(),time_input(),data)

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
8,D1,P1,11042022 10:00:00,D111042022 10:00:00,P111042022 10:00:00,11042022,10:00:00

In [212]:
data

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
0,D1,P1,08032018 09:00:00,D108032018 09:00:00,P108032018 09:00:00,08032018,09:00:00
1,D1,P1,08042018 10:00:00,D108042018 10:00:00,P108042018 10:00:00,08042018,10:00:00
2,D1,P2,08032018 10:00:00,D108032018 10:00:00,P208032018 10:00:00,08032018,10:00:00
3,D1,P1,08042018 11:00:00,D108042018 11:00:00,P108042018 11:00:00,08042018,11:00:00
4,D2,P1,18032018 08:00:00,D218032018 08:00:00,P118032018 08:00:00,18032018,08:00:00
5,D2,P1,18042018 09:00:00,D218042018 09:00:00,P118042018 09:00:00,18042018,09:00:00
6,D2,P3,18032018 09:00:00,D218032018 09:00:00,P318032018 09:00:00,18032018,09:00:00
7,D2,P3,18042018 10:00:00,D218042018 10:00:00,P318042018 10:00:00,18042018,10:00:00
8,D1,P1,11042022 10:00:00,D111042022 10:00:00,P111042022 10:00:00,11042022,10:00:00

In [202]:
check_all_patient_appt('P1',data)

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
0,D1,P1,08032018 09:00:00,D108032018 09:00:00,P108032018 09:00:00,08032018,09:00:00
1,D1,P1,08042018 10:00:00,D108042018 10:00:00,P108042018 10:00:00,08042018,10:00:00
3,D1,P1,08042018 11:00:00,D108042018 11:00:00,P108042018 11:00:00,08042018,11:00:00
4,D2,P1,18032018 08:00:00,D218032018 08:00:00,P118032018 08:00:00,18032018,08:00:00
5,D2,P1,18042018 09:00:00,D218042018 09:00:00,P118042018 09:00:00,18042018,09:00:00

In [205]:
# Q4:

# Patient cancels appointment by selecting doctor and date & time

def delete_appt_patient (doctor,patient,date,time,data):
    if patient+date+' '+time not in data['concat patientdate'].values:
        return 'You have no such appointment',check_all_patient_appt(patient,data),data
    else:
        data = data.drop(data[(data['doctor_id']==doctor) & (data["patient_id"]== patient) & (data["date"]==date) & (data["time"]==time)].index)
        return 'Appointment cancelled, these are your existing appointments',check_all_patient_appt(patient,data),data

In [213]:
text,check,data = delete_appt_patient(doc_id_input(),patient_id_input(),date_input(),time_input(),data)

In [217]:
text

'Appointment cancelled, these are your existing appointments'

In [218]:
check

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
0,D1,P1,08032018 09:00:00,D108032018 09:00:00,P108032018 09:00:00,08032018,09:00:00
1,D1,P1,08042018 10:00:00,D108042018 10:00:00,P108042018 10:00:00,08042018,10:00:00
3,D1,P1,08042018 11:00:00,D108042018 11:00:00,P108042018 11:00:00,08042018,11:00:00
4,D2,P1,18032018 08:00:00,D218032018 08:00:00,P118032018 08:00:00,18032018,08:00:00
5,D2,P1,18042018 09:00:00,D218042018 09:00:00,P118042018 09:00:00,18042018,09:00:00

In [219]:
data

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
0,D1,P1,08032018 09:00:00,D108032018 09:00:00,P108032018 09:00:00,08032018,09:00:00
1,D1,P1,08042018 10:00:00,D108042018 10:00:00,P108042018 10:00:00,08042018,10:00:00
2,D1,P2,08032018 10:00:00,D108032018 10:00:00,P208032018 10:00:00,08032018,10:00:00
3,D1,P1,08042018 11:00:00,D108042018 11:00:00,P108042018 11:00:00,08042018,11:00:00
4,D2,P1,18032018 08:00:00,D218032018 08:00:00,P118032018 08:00:00,18032018,08:00:00
5,D2,P1,18042018 09:00:00,D218042018 09:00:00,P118042018 09:00:00,18042018,09:00:00
6,D2,P3,18032018 09:00:00,D218032018 09:00:00,P318032018 09:00:00,18032018,09:00:00
7,D2,P3,18042018 10:00:00,D218042018 10:00:00,P318042018 10:00:00,18042018,10:00:00