In [87]:
# Q1:
# Load initial data

import pandas as pd

data = pd.read_csv('/home/jason/Documents/GitHub/data4life/data4life/data.txt',skipinitialspace=True)
data.iloc[:,:3]

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
1        D1         P1    08042018 10:00:00
2        D1         P2    08032018 10:00:00
3        D1         P1    08042018 11:00:00
4        D2         P1    18032018 08:00:00
5        D2         P1    18042018 09:00:00
6        D2         P3    18032018 09:00:00
7        D2         P3    18042018 10:00:00

In [88]:
data = data.astype('string')
data.dtypes

doctor_id               string
patient_id              string
appointment_datetime    string
dtype: object

In [51]:
data['concat docdate']= data['doctor_id']+data['appointment_datetime']
data['concat patientdate']= data['patient_id']+data['appointment_datetime']
data[['date','time']] = data['appointment_datetime'].str.split(' ',1,expand=True)

data

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
0,D1,P1,08032018 09:00:00,D108032018 09:00:00,P108032018 09:00:00,08032018,09:00:00
1,D1,P1,08042018 10:00:00,D108042018 10:00:00,P108042018 10:00:00,08042018,10:00:00
2,D1,P2,08032018 10:00:00,D108032018 10:00:00,P208032018 10:00:00,08032018,10:00:00
3,D1,P1,08042018 11:00:00,D108042018 11:00:00,P108042018 11:00:00,08042018,11:00:00
4,D2,P1,18032018 08:00:00,D218032018 08:00:00,P118032018 08:00:00,18032018,08:00:00
5,D2,P1,18042018 09:00:00,D218042018 09:00:00,P118042018 09:00:00,18042018,09:00:00
6,D2,P3,18032018 09:00:00,D218032018 09:00:00,P318032018 09:00:00,18032018,09:00:00
7,D2,P3,18042018 10:00:00,D218042018 10:00:00,P318042018 10:00:00,18042018,10:00:00

In [10]:
data.dtypes

doctor_id               string
patient_id              string
appointment_datetime    string
concat docdate          string
concat patientdate      string
date                    string
time                    string
dtype: object

In [102]:
# Getting inputs from the user when required
def doc_id_input():
    doctor = str(input('Please enter doctor id: '))
    return doctor
def date_input():
    date = str(input('Please enter the date you want to check in DDMMYYYY format: '))
    return date
def patient_id_input():
    patient = str(input('Please enter your patient id: '))
    return patient
def time_input():
    while True:
        time = str(input("Please enter your preferred time in HH:MM:SS: "))
        if time > '16:00:00' or time < '08:00:00':
            print('Appointment times must be between 08:00:00 and 16:00:00')
            continue
        break
    return time

In [57]:
# Q2:

# Get all appointments for the given doctor & date

def check_doc_appt (doctor,date,data):
    example = data[(data["doctor_id"]== doctor) & (data["date"]==date)]
    return "No appointment for this doctor on this date" if example.empty else example.iloc[:,:3]

In [52]:
#check with invalid entry
check_doc_appt(doc_id_input(),date_input(),data)
#check_doc_appt('D1','13042022',data)

'No appointment for this doctor on this date'

In [58]:
#check with valid entry
check_doc_appt(doc_id_input(),date_input(),data)
#check_doc_appt('D1','08032018',data)

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
2        D1         P2    08032018 10:00:00

In [54]:
# Q2B

# Get all appointment for given patient & date

def check_patient_appt (patient,date,data):
    example = data[(data["patient_id"]== patient) & (data["date"]==date)]
    return "You have no appointment on this date" if example.empty else example.iloc[:,:3]

def check_all_patient_appt (patient,data):
    example = data[(data["patient_id"]== patient)]
    return "This patient_id has no appointments" if example.empty else example.iloc[:,:3]

In [55]:
check_patient_appt(patient_id_input(),date_input(),data)
#check_patient_appt('P1','08032018',data)

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00

In [27]:
check_patient_appt(patient_id_input(),date_input(),data)
#check_patient_appt('P1','13042022',data)

'You have no appointment on this date'

In [28]:
check_all_patient_appt(patient_id_input(),data)
#check_patient_appt('P1',data)

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
0,D1,P1,08032018 09:00:00,D108032018 09:00:00,P108032018 09:00:00,08032018,09:00:00
1,D1,P1,08042018 10:00:00,D108042018 10:00:00,P108042018 10:00:00,08042018,10:00:00
3,D1,P1,08042018 11:00:00,D108042018 11:00:00,P108042018 11:00:00,08042018,11:00:00
4,D2,P1,18032018 08:00:00,D218032018 08:00:00,P118032018 08:00:00,18032018,08:00:00
5,D2,P1,18042018 09:00:00,D218042018 09:00:00,P118042018 09:00:00,18042018,09:00:00

In [31]:
check_all_patient_appt(patient_id_input(),data)
#check_patient_appt('P5',data)

'This patient_id has no appointments'

In [148]:
#using data = data.drop() to delete appointment
doctor = 'D1'
patient = 'P1'
date = '11042022'
time = '10:00:00'

data[(data['doctor_id']==doctor) & (data["patient_id"]== patient) & (data["date"]==date) & (data["time"]==time)]

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
8,D1,P1,11042022 10:00:00,D111042022 10:00:00,P111042022 10:00:00,11042022,10:00:00

In [109]:
#delete entry based on input
data = data.drop(data[(data['doctor_id']==doctor) & (data["patient_id"]== patient) & (data["date"]==date) & (data["time"]==time)].index)

In [36]:
# Q3:

# Patient makes an appointment by selecting doctor and date and time

def make_appt(doctor,patient,date,time,data):  
    if doctor+date+' '+time in data['concat docdate'].values:
        return 'Doctor is not available at this specific date and time',check_doc_appt(doctor,date,data)
    elif patient+date+' '+time in data['concat patientdate'].values:
        return 'You already have another appointment at this specific date and time',check_patient_appt(patient,date,data)
    else:
        data.loc[data.shape[0]] = [doctor,patient,date+' '+time,doctor+date+' '+time,patient+date+' '+time,date,time,]
        return 'Appointment created!', check_patient_appt(patient,date,data)

In [59]:
#make_appt('D1','P1','08032018','09:00:00',data)
make_appt(doc_id_input(),patient_id_input(),date_input(),time_input(),data)

('Doctor is not available at this specific date and time',
   doctor_id patient_id appointment_datetime
 0        D1         P1    08032018 09:00:00
 2        D1         P2    08032018 10:00:00)

In [60]:
#make_appt('D1','P1','18032018','08:00:00',data)
make_appt(doc_id_input(),patient_id_input(),date_input(),time_input(),data)

('You already have another appointment at this specific date and time',
   doctor_id patient_id appointment_datetime
 4        D2         P1    18032018 08:00:00)

In [61]:
#make_appt('D1','P1','11042022','10:00:00',data)
make_appt(doc_id_input(),patient_id_input(),date_input(),time_input(),data)

('Appointment created!',
   doctor_id patient_id appointment_datetime
 8        D1         P1    22042022 08:00:00)

In [64]:
data.iloc[:,:3]

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
1        D1         P1    08042018 10:00:00
2        D1         P2    08032018 10:00:00
3        D1         P1    08042018 11:00:00
4        D2         P1    18032018 08:00:00
5        D2         P1    18042018 09:00:00
6        D2         P3    18032018 09:00:00
7        D2         P3    18042018 10:00:00
8        D1         P1    22042022 08:00:00

In [65]:
check_all_patient_appt('P1',data)

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
1        D1         P1    08042018 10:00:00
3        D1         P1    08042018 11:00:00
4        D2         P1    18032018 08:00:00
5        D2         P1    18042018 09:00:00
8        D1         P1    22042022 08:00:00

In [41]:
# Q4:

# Patient cancels appointment by selecting doctor and date & time

def delete_appt_patient (doctor,patient,date,time,data):
    if patient+date+' '+time not in data['concat patientdate'].values:
        return 'You have no such appointment',check_all_patient_appt(patient,data),data
    else:
        data = data.drop(data[(data['doctor_id']==doctor) & (data["patient_id"]== patient) & (data["date"]==date) & (data["time"]==time)].index)
        return 'Appointment cancelled, these are your existing appointments',check_all_patient_appt(patient,data),data

In [66]:
delete_appt_patient(doc_id_input(),patient_id_input(),date_input(),time_input(),data)

('Appointment cancelled, these are your existing appointments',
   doctor_id patient_id appointment_datetime
 0        D1         P1    08032018 09:00:00
 1        D1         P1    08042018 10:00:00
 3        D1         P1    08042018 11:00:00
 4        D2         P1    18032018 08:00:00
 5        D2         P1    18042018 09:00:00,
   doctor_id patient_id appointment_datetime       concat docdate  \
 0        D1         P1    08032018 09:00:00  D108032018 09:00:00
 1        D1         P1    08042018 10:00:00  D108042018 10:00:00
 2        D1         P2    08032018 10:00:00  D108032018 10:00:00
 3        D1         P1    08042018 11:00:00  D108042018 11:00:00
 4        D2         P1    18032018 08:00:00  D218032018 08:00:00
 5        D2         P1    18042018 09:00:00  D218042018 09:00:00
 6        D2         P3    18032018 09:00:00  D218032018 09:00:00
 7        D2         P3    18042018 10:00:00  D218042018 10:00:00

     concat patientdate      date      time
 0  P108032018 09:00:00  08032018  09:00:00
 1  P108042018 10:00:00  08042018  10:00:00
 2  P208032018 10:00:00  08032018  10:00:00
 3  P108042018 11:00:00  08042018  11:00:00
 4  P118032018 08:00:00  18032018  08:00:00
 5  P118042018 09:00:00  18042018  09:00:00
 6  P318032018 09:00:00  18032018  09:00:00
 7  P318042018 10:00:00  18042018  10:00:00  )

In [68]:
text,check,data = delete_appt_patient(doc_id_input(),patient_id_input(),date_input(),time_input(),data)

In [69]:
text

'Appointment cancelled, these are your existing appointments'

In [70]:
check

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
1        D1         P1    08042018 10:00:00
3        D1         P1    08042018 11:00:00
4        D2         P1    18032018 08:00:00
5        D2         P1    18042018 09:00:00

In [71]:
data

,doctor_id,patient_id,appointment_datetime,concat docdate,concat patientdate,date,time
0,D1,P1,08032018 09:00:00,D108032018 09:00:00,P108032018 09:00:00,08032018,09:00:00
1,D1,P1,08042018 10:00:00,D108042018 10:00:00,P108042018 10:00:00,08042018,10:00:00
2,D1,P2,08032018 10:00:00,D108032018 10:00:00,P208032018 10:00:00,08032018,10:00:00
3,D1,P1,08042018 11:00:00,D108042018 11:00:00,P108042018 11:00:00,08042018,11:00:00
4,D2,P1,18032018 08:00:00,D218032018 08:00:00,P118032018 08:00:00,18032018,08:00:00
5,D2,P1,18042018 09:00:00,D218042018 09:00:00,P118042018 09:00:00,18042018,09:00:00
6,D2,P3,18032018 09:00:00,D218032018 09:00:00,P318032018 09:00:00,18032018,09:00:00
7,D2,P3,18042018 10:00:00,D218042018 10:00:00,P318042018 10:00:00,18042018,10:00:00

In [72]:
data.iloc[:,:3]

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
1        D1         P1    08042018 10:00:00
2        D1         P2    08032018 10:00:00
3        D1         P1    08042018 11:00:00
4        D2         P1    18032018 08:00:00
5        D2         P1    18042018 09:00:00
6        D2         P3    18032018 09:00:00
7        D2         P3    18042018 10:00:00

In [93]:
import time
import datetime as dt
time_obj = time.strptime(time_input(),"%H:%M:%S")

print(time_obj)

time.struct_time(tm_year=1900, tm_mon=1, tm_mday=1, tm_hour=8, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=1, tm_isdst=-1)

In [89]:
data['appointment_datetime'] = pd.to_datetime(data['appointment_datetime'],format="%d%m%Y %H:%M:%S")

In [90]:
data.dtypes

doctor_id                       string
patient_id                      string
appointment_datetime    datetime64[ns]
dtype: object

In [91]:
data

  doctor_id patient_id appointment_datetime
0        D1         P1  2018-03-08 09:00:00
1        D1         P1  2018-04-08 10:00:00
2        D1         P2  2018-03-08 10:00:00
3        D1         P1  2018-04-08 11:00:00
4        D2         P1  2018-03-18 08:00:00
5        D2         P1  2018-04-18 09:00:00
6        D2         P3  2018-03-18 09:00:00
7        D2         P3  2018-04-18 10:00:00

In [95]:
data['date'] = data['appointment_datetime'].dt.date 
data['time'] = data['appointment_datetime'].dt.time

In [97]:
data.dtypes

doctor_id                       string
patient_id                      string
appointment_datetime    datetime64[ns]
date                            object
time                            object
dtype: object

In [103]:
time_input()

Appointment times must be between 08:00:00 and 16:00:00
Appointment times must be between 08:00:00 and 16:00:00

KeyboardInterrupt: Interrupted by user