In [39]:
# Q1:
# Load initial data

import pandas as pd

data = pd.read_csv('/home/jason/Documents/GitHub/data4life/data4life/data.txt',skipinitialspace=True)
data

  doctor_id patient_id appointment_datetime
0        D1         P1    08032018 09:00:00
1        D1         P1    08042018 10:00:00
2        D1         P2    08032018 10:00:00
3        D1         P1    08042018 11:00:00
4        D2         P1    18032018 08:00:00
5        D2         P1    18042018 09:00:00
6        D2         P3    18032018 09:00:00
7        D2         P3    18042018 10:00:00

In [42]:
data = data.astype('string')
data.dtypes

doctor_id               string
patient_id              string
appointment_datetime    string
date                    string
time                    string
dtype: object

In [72]:
data['concat']= data['doctor_id']+data['appointment_datetime']
data[['date','time']] = data['appointment_datetime'].str.split(' ',1,expand=True)

data

,doctor_id,patient_id,appointment_datetime,date,time,concat
0,D1,P1,08032018 09:00:00,08032018,09:00:00,D108032018 09:00:00
1,D1,P1,08042018 10:00:00,08042018,10:00:00,D108042018 10:00:00
2,D1,P2,08032018 10:00:00,08032018,10:00:00,D108032018 10:00:00
3,D1,P1,08042018 11:00:00,08042018,11:00:00,D108042018 11:00:00
4,D2,P1,18032018 08:00:00,18032018,08:00:00,D218032018 08:00:00
5,D2,P1,18042018 09:00:00,18042018,09:00:00,D218042018 09:00:00
6,D2,P3,18032018 09:00:00,18032018,09:00:00,D218032018 09:00:00
7,D2,P3,18042018 10:00:00,18042018,10:00:00,D218042018 10:00:00
8,D1,P4,11042022 10:00:00,11042022,10:00:00,D111042022 10:00:00
9,D1,P4,11042022 10:00:00,11042022,10:00:00,D111042022 10:00:00

In [63]:
data.dtypes

doctor_id               string
patient_id              string
appointment_datetime    string
date                    string
time                    string
dtype: object

In [73]:
# Q2:

# Get all appointments for the given doctor & date

def check_appt (doctor,date,data):
    example = data[(data["doctor_id"]== doctor) & (data["date"]==date)]
    return example

In [74]:
check_appt('D1','08032018',data)

,doctor_id,patient_id,appointment_datetime,date,time,concat
0,D1,P1,08032018 09:00:00,08032018,09:00:00,D108032018 09:00:00
2,D1,P2,08032018 10:00:00,08032018,10:00:00,D108032018 10:00:00

In [101]:
x = 'D1'+'11042022'+' '+'10:00:00'
data = data.astype('string')
# 'D1'+'11042022'+' '+'10:00:00' in data['concat']
x in data['concat'].values

True

In [118]:
# Q3:

# Patient makes an appointment by selecting doctor and date and time

def make_appt(doctor,patient,date,time,data):
    if doctor+date+' '+time in data['concat'].values:
        return 'Doctor is not available at this specific date and time',check_appt(doctor,date,data)
    else:
        data.loc[data.shape[0]] = [doctor,patient,date+' '+time,date,time,doctor+date+' '+time]
    return check_appt(doctor,date,data)

In [119]:
make_appt('D1','P4','11042022','10:00:00',data)

('Doctor is not available at this specific date and time',
    doctor_id patient_id appointment_datetime      date      time  \
 8         D1         P4    11042022 10:00:00  11042022  10:00:00
 9         D1         P4    11042022 10:00:00  11042022  10:00:00
 10        D1         P4    11042022 10:00:00  11042022  10:00:00
 11        D1         P4    11042022 10:00:00  11042022  10:00:00
 12        D1         P4    11042022 10:00:00  11042022  10:00:00

                  concat
 8   D111042022 10:00:00
 9   D111042022 10:00:00
 10  D111042022 10:00:00
 11  D111042022 10:00:00
 12  D111042022 10:00:00  )

In [105]:
data

,doctor_id,patient_id,appointment_datetime,date,time,concat
0,D1,P1,08032018 09:00:00,08032018,09:00:00,D108032018 09:00:00
1,D1,P1,08042018 10:00:00,08042018,10:00:00,D108042018 10:00:00
2,D1,P2,08032018 10:00:00,08032018,10:00:00,D108032018 10:00:00
3,D1,P1,08042018 11:00:00,08042018,11:00:00,D108042018 11:00:00
4,D2,P1,18032018 08:00:00,18032018,08:00:00,D218032018 08:00:00
5,D2,P1,18042018 09:00:00,18042018,09:00:00,D218042018 09:00:00
6,D2,P3,18032018 09:00:00,18032018,09:00:00,D218032018 09:00:00
7,D2,P3,18042018 10:00:00,18042018,10:00:00,D218042018 10:00:00
8,D1,P4,11042022 10:00:00,11042022,10:00:00,D111042022 10:00:00
9,D1,P4,11042022 10:00:00,11042022,10:00:00,D111042022 10:00:00
10,D1,P4,11042022 10:00:00,11042022,10:00:00,D111042022 10:00:00
11,D1,P4,11042022 10:00:00,11042022,10:00:00,D111042022 10:00:00
12,D1,P4,11042022 10:00:00,11042022,10:00:00,D111042022 10:00:00

In [127]:
# Q4:

# Patient cancels appointment by selecting doctor and date & time

def check_appt_patient (patient_id,data):
    example = data[(data["patient_id"]== patient_id)] #& (data["date"]==date)]
    return example

In [128]:
check_appt_patient('P1',data)

,doctor_id,patient_id,appointment_datetime,date,time,concat
0,D1,P1,08032018 09:00:00,08032018,09:00:00,D108032018 09:00:00
1,D1,P1,08042018 10:00:00,08042018,10:00:00,D108042018 10:00:00
3,D1,P1,08042018 11:00:00,08042018,11:00:00,D108042018 11:00:00
4,D2,P1,18032018 08:00:00,18032018,08:00:00,D218032018 08:00:00
5,D2,P1,18042018 09:00:00,18042018,09:00:00,D218042018 09:00:00